<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application1">
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".activity_otp_verify"
            android:exported="false" />
        <activity
            android:name=".activity_otp_send"
            android:exported="false" />
        <activity
            android:name=".scrollview"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.Application1.NoActionBar" />
        <activity
            android:name=".Lifestyle2"
            android:exported="false"
            android:label="@string/title_activity_lifestyle2"
            android:theme="@style/Theme.Application1.NoActionBar" />
        <activity
            android:name=".forgotpass"
            android:exported="false" />
        <activity
            android:name=".LifeStyle"
            android:exported="false" />
        <activity
            android:name=".HousePref"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".signin"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>